<div class="row">
  <app-nav-bar class=" col s12 sticky"></app-nav-bar>
</div>

<div class="landing-page-background med-top-margin detail-text ">
  <h1>{{currentPiece.description}}</h1>
  <div class="row">
    <div class="col s3"></div>
    <div class="col s6" style="font-size: larger">
      <p>{{currentPiece.content}}</p>
      <h6>{{currentPiece.date}}</h6>
    </div>
    <div class="col s3" id='sparafucille-rigoletto'>
    </div>
  </div>
</div>

<app-footer style="position: fixed;
bottom: 0;
width: 100%;"></app-footer>