<footer class="page-footer red-background white-text">
  <div class="container">
    <div class="row">
      <a class="col s2 btn-flat white-text" href="mailto:christian.zaremba@yahoo.com?Subject=Website%20Correspondence" target="_top">EMAIL</a>
      <a class="col s2 btn-flat white-text" href="https://www.instagram.com/zarembabass/" target="_blank">INSTAGRAM </a> 
      <a class="col s2 btn-flat white-text" href="mailto:ana@ada-artists.com?Subject=Christian%20%Zaremba%20Inquiry" target="_top">MANAGEMENT</a>
      <h5 style="float:right;">CHRISTIAN ZAREMBA | BASSO CANTANTE</h5>
    </div>

  </div>
</footer>