<div class="page-footer valign-wrapper container">
  <div class="row center-align">
    <a class="white-text col s4" href="mailto:christianzarembaofficial@gmail.com?Subject=Website%20Correspondence"
      target="_top">EMAIL</a>
    <a class="white-text col s4" href="https://www.instagram.com/zarembabass/" target="_blank">INSTAGRAM </a>
    <a class="white-text col s4" href="mailto:ssnook@imgartists.com?Subject=Christian%20Zaremba%20Inquiry"
      target="_top">WORLDWIDE MANAGEMENT</a>
  </div>
</div>