<div class="row">
  <app-nav-bar class=" col s12 sticky"></app-nav-bar>
</div>

<div class='full-height cz-red-text med-top-margin container'>
  <div class="row">

    <div class="col s6 landing-page-background full-height" style="text-align:center">
      <div class="row">
        <h5>REVIEWS FOR A RECENT SHOW</h5>
      </div>
      <div class="row">
        <p>"Review review review."</p>
        <p style="font-style:italic; text-align:center">- SOURCE</p>
      </div>
    </div>
    <div class="col s6" style="text-align:right">
      <div class="row">
        <h6>OTHER CRITICAL ACCLAIM</h6>
      </div>
      <div class="row">
        <p>"Other review for another thing"</p>
        <p style="font-style:italic;">- SOURCE</p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>