<div class="row">
  <app-nav-bar class=" col s12 sticky"></app-nav-bar>
</div>

<div class='landing-page-background full-height'>

    <div class="row med-top-margin left-margin">

      <div class="col s3 latest-block">
        <p class="latest-text">TITLE</p>
        <p class="latest-text">DATE</p>
        <div class="overlay">
            <p class=' btn-flat latest-text' routerLink="/details/title">READ MORE</p>
          </div>
      </div>

      <div class="col s3 latest-block">
        <p class="latest-text">TITLE</p>
        <p class="latest-text">DATE</p>
        <div class="overlay">
          <p class=' btn-flat latest-text' routerLink="/details/title">READ MORE</p>
        </div>
      </div>

      <div class="col s3 latest-block">
        <p class="latest-text">TITLE</p>
        <p class="latest-text">DATE</p>
        <div class="overlay">
          <p class=' btn-flat latest-text' routerLink="/details/title">READ MORE</p>
        </div>
      </div>

  </div>

</div>