<div class="row">
  <app-nav-bar class=" col s12 sticky"></app-nav-bar>
</div>

<div class='landing-page-background full-height'>



  <div class="row med-top-margin left-margin">

    <div *ngFor="let clip of clips">
      <div class="col s3 latest-block" id={{clip.image}}>
        <p class="latest-text">{{clip.description}}</p>
        <p class="latest-text">{{clip.date}}</p>
        <div class="overlay">
          <p class=' btn-flat latest-text' [routerLink]="['/details/', clip._id.$oid]">READ MORE</p>
        </div>
      </div>

    </div>

  </div>

</div>

<app-footer></app-footer>