<div class="row">
  <app-nav-bar class=" col s12"></app-nav-bar>
</div>

<div class="landing-page-background med-top-margin white-text">
  <div class="container">
    <div class="row">
      <!-- images -->
      <div class="gallery-images">
        <div class="row">
          <h5 class="col s12" style="text-align:center;">ALBUMS & VIDEOS</h5>
        </div>
        <div class="video-container">
            <iframe width="560" height="315"  src="https://www.youtube.com/embed/Mq9XRspIXJ0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div *ngFor="let album of albums" >
          <div class="col s4">
            <div class="gallery-thumbnail lesser-top-margin" style="float: right; text-align:center; margin-bottom:12%;" id={{album._id.$oid}}>
                <h5 class="btn-flat album-name white-text" >{{album.description}}</h5>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<app-footer style="
bottom: 0;
width: 100%;"></app-footer>