<div class="row">
  <app-nav-bar class=" col s12 sticky"></app-nav-bar>
</div>

<div class="landing-page-background full-height lesser-top-margin white-text">
  <div class="container">
    <div class="row">
     
      <!-- images -->
      <div class="col s6 gallery-images">
        <div class="row">
          <h5 class="col s12" style="text-align:right;">ALBUMS</h5>
          <h6 class="col s12 btn-flat white-text" style="text-align:right;">SEE ALL ALBUMS</h6>
        </div>
        <div class="row">
          <div class="gallery-thumbnail" style="float: right;">
          <p style="text-align:center;">IMAGE</p>
          <p class="btn-flat album-name" style="text-align:center;">ALBUM DESCRIPTION</p>
        </div>
        </div>
      </div>
      
      <!-- videos -->
      <div class="col s6 gallery-videos">
        <div class="row">
          <h5 class="col s12" style="text-align: left;">VIDEOS</h5>
          <h6 class="col s12 btn-flat white-text" style="text-align: left;">SEE ALL VIDEOS</h6>
        </div>
        <div class="row">
          <div style="margin-left:2%" class="gallery-thumbnail">
          <p style="text-align:center;">VIDEO</p>
          <p style="text-align:center;" class="btn-flat album-name">VIDEO DESCRIPTION</p>
        </div>
        </div>
      </div>


    </div>

    <div class="row">
        <h5 class="col s12" style="text-align: center">CONNECT ON INSTAGRAM</h5>
    </div>
  </div>
</div>