<div class="container" style='padding-bottom: 5%;'>

  <div class="row" style="padding-top: 5%">
    <h5 class="blue-grey-text text-darken-3 flow-text center-align">GALLERY</h5>
  </div>
  <div *ngIf="selectedImage!=''" class="row">
    <p (click)="exitLightbox()"><i
        class="material-icons closelightbox right-align col s1 col m1 col l1 offset-s10 offset-m10 offset-l10">close</i>
    </p>
  </div>
  <div class="row">
    <div *ngIf="selectedImage != ''">
      <img [src]="selectedImage" class="responsive-image col s12 col m12 col l12">
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images1" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images2" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image " width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images3" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images4" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images5" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images6" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row center-align hide-on-large">
    <div *ngFor="let image of images7" (click)="lightbox($event)" [ngClass]="(selectedImage =='')?'showall':'hideall'"
      class="col s12 m4 l4">
      <img [src]="image" class="responsive-image" width="100%">
      <!-- <p>description</p> -->
    </div>
  </div>

  <div class="row video-container">
    <iframe src="https://www.youtube.com/embed/Mq9XRspIXJ0" frameborder="0"
      allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>