<div class="navbar-fixed">
<nav class='white z-depth-0'>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo truncate blue-grey-text text-darken-3 center" [routerLink]="['/']">CHRISTIAN ZAREMBA</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger blue-grey-text text-darken-3"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a class='blue-grey-text text-darken-3' [routerLink]="['/calendar']">CALENDAR</a></li>
      <li><a class='blue-grey-text text-darken-3' [routerLink]="['/gallery']">GALLERY</a></li>
      <li><a class='blue-grey-text text-darken-3' [routerLink]="['/bio']">BIOGRAPHY</a></li>
      <li><a class='blue-grey-text text-darken-3' [routerLink]="['/latest']">PRESS</a></li>
      <li><a class='blue-grey-text text-darken-3' [routerLink]="['/acclaim']">CRITICAL ACCLAIM</a></li>
      <li><a class='blue-grey-text text-darken-3' href="https://www.instagram.com/zarembabass/" target="_blank">INSTAGRAM</a></li>
    </ul>
  </div>
</nav>
</div>
<ul class="sidenav" id="mobile-demo">
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/calendar']">CALENDAR</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/gallery']">GALLERY</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/bio']">BIOGRAPHY</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/latest']">PRESS</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/acclaim']">CRITICAL ACCLAIM</a></li>
  <li><a class='blue-grey-text text-darken-3' href="https://www.instagram.com/zarembabass/" target="_blank">INSTAGRAM</a></li>
</ul>