<header>
<ul id="mobile-nav" class="dropdown-content white z-depth-0">
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/calendar']">CALENDAR</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/gallery']">GALLERY</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/bio']">BIOGRAPHY</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/latest']">LATEST NEWS</a></li>
  <li><a class='blue-grey-text text-darken-3' [routerLink]="['/acclaim']">ACCLAIM</a></li>
</ul>
<div class='navbar-fixed'>
  <nav class='white z-depth-0'>
    <div class="nav-wrapper ">
      <a class='brand-logo truncate blue-grey-text text-darken-3 center' [routerLink]="['/']">CHRISTIAN ZAREMBA</a>
      <ul id='nav-mobile' class='right'>
        <li><a class="dropdown-trigger blue-grey-text text-darken-3" href="#!" data-target="mobile-nav"><i style='font-size: 2.3rem'class="material-icons right">more_vert</i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</header>