<div class="full-height">
  <div class="parallax-container">
    <div class="row landing-page-background"></div>
    <div class="row landing-page-height">
      <div class="col s6 white-text landing-page-background" style="height:100%">
        <h1>CHRISTIAN ZAREMBA</h1>
        <h2>BASSO CANTANTE</h2>
        <br>
        <br>
        <h3>{{location}}</h3>
        <h3>{{opera}}</h3>
        <h6>{{startDate}} - {{endDate}}</h6>
        <h5><a class="btn-flat red-text" href={{tickets}} target="_blank">PURCHASE TICKETS</a></h5>
      </div>
      <div class="col s6 landing-page-background-image" style="height:100%"></div>
    </div>
    <div class="row">
      <app-nav-bar class="col s12"></app-nav-bar>
    </div>
  </div>
</div>

<div class="container med-top-margin" style='padding-bottom:7%;'>
  <h1 style="text-align: center;">UPCOMING PERFORMANCES</h1>
  <div class="row valign-wrapper" style="text-align: center;">
    <div class="col s4">
      <p>DATE</p>
    </div>
    <div class="col s4">
      <p>LOCATION</p>
    </div>
    <div class="col s4">
      <p>EVENT</p>
    </div>
  </div>

  <div class="divider red"></div>

  <div *ngFor="let event of upcoming">
      <div class="row valign-wrapper hoverable" style="text-align: center;">
        <div class="col s4">
          <p><a class='black-text' href={{event.tickets}} target="_blank">{{event.date}}</a></p>
        </div>
        <div class="col s4">
          <p><a class='black-text' href={{event.tickets}} target="_blank">{{event.location}}, {{event.city}}</a></p>
        </div>
        <div class="col s4">
          <p><a class='black-text' href={{event.tickets}} target="_blank">{{event.event}}</a></p>
        </div>
      </div>
    </div>

</div>

<div class="landing-page-background light-text" style='padding-bottom:7%;'>
  <div class="container">
    <h1>Christian Zaremba | BASSO CANTANTE</h1>
    <div class="bio-text" *ngFor="let paragraph of bioContent">
      <p>{{paragraph}}</p>
    </div>
  </div>
</div>

<div class='full-height'>
  <h1 class="cz-red-text">IN THE NEWS</h1>
  <div class="row lesser-top-margin left-margin">


    <div class="col s3 latest-block" id={{newsClips[0].image}}>
      <p class='latest-text'>{{newsClips[0].description}}</p>
      <p class='latest-text'>{{newsClips[0].date}}</p>
      <div class="overlay">
        <p class=' btn-flat latest-text' [routerLink]="['/details/', newsClips[0]._id.$oid]">READ MORE</p>
      </div>
    </div>

    <div class="col s3 latest-block" id={{newsClips[1].image}}>
      <p class='latest-text'>{{newsClips[1].description}}</p>
      <p class='latest-text'>{{newsClips[1].date}}</p>
      <div class="overlay">
        <p class=' btn-flat latest-text' [routerLink]="['/details/', newsClips[1]._id.$oid]">READ MORE</p>
      </div>
    </div>

    <div class="col s3 latest-block" id={{newsClips[2].image}}>
      <p class='latest-text'>{{newsClips[2].description}}</p>
      <p class='latest-text'>{{newsClips[2].date}}</p>
      <div class="overlay">
        <p class=' btn-flat latest-text' [routerLink]="['/details/', newsClips[2]._id.$oid]">READ MORE</p>
      </div>
    </div>
  </div>

  <div class="divider red"></div>
  <div class="row">
    <div class="col s7">
      <div class="row cz-red-text" style="font-style:italic">
        <div class="col s4 med-top-margin">
          <p></p>
        </div>
        <div class="col s4 med-top-margin">
          <p>{{featuredReviews[0].review}}</p>
          <p> - {{featuredReviews[0].source}}</p>
        </div>
        <div class="col s4 med-top-margin">
          <p>{{featuredReviews[1].review}}</p>
          <p> - {{featuredReviews[1].source}}</p>
        </div>
      </div>
    </div>
    <h1 class='cz-red-text col s4' style="text-align:right;">RECENT REVIEWS</h1>
  </div>

</div>


<div class="landing-page-background med-top-margin white-text">
    <div class="container">
      <div class="row">
        <!-- images -->
        <div class="gallery-images">
          <div class="row">
            <h5 class="col s12" style="text-align:center;">ALBUMS & VIDEOS</h5>
          </div>
          <div class="video-container">
              <iframe width="560" height="315"  src="https://www.youtube.com/embed/Mq9XRspIXJ0" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <div *ngFor="let album of albums" >
            <div class="col s4">
              <div class="gallery-thumbnail lesser-top-margin" style="float: right; text-align:center; margin-bottom:12%;" id={{album._id.$oid}}>
                  <h5 class="btn-flat album-name white-text" >{{album.description}}</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>

<app-footer></app-footer>