<div class='container'>
    <p class='blue-grey-text text-darken-3 center-align subtitle'>BASSO CANTANTE</p>
    <img src="assets/svg.svg">
    <p style='font-size:1rem; margin-left:5%; margin-bottom:-3%;'class='blue-grey-text text-darken-3'>UP NEXT:</p>
    <div class='row valign-wrapper hide-on-small-only'>
        <p class='blue-grey-text text-darken-3  col m6 offset-m1' style='font-size:3rem'>{{opera}}</p>
        <blockquote class='blue-grey-text text-darken-3 col m5 offset-m1' style="margin-top: 0;">
            {{location}}<br>
            {{startDate}} - {{endDate}}<br>
            <a class="cz-red-text" href={{tickets}} target="_blank" style="margin-top: 0;">PURCHASE TICKETS</a>
        </blockquote>
    </div>
    <div class='show-on-small hide-on-med-and-up'>
        <div class='row blue-grey-text text-darken-3'>
            <p class='col s4' style='font-size: 2rem;'>{{opera}}</p>
            <p class='col s8 flow-text right-align'>{{location}}<br>{{startDate}} - {{endDate}}<br>
                <a class="cz-red-text" href={{tickets}} target="_blank" style="margin-top: 0;">PURCHASE TICKETS</a></p>
        </div>
        <!-- <div class='row valign-wrapper'>
            <p class='blue-grey-text text-darken-3 col s12 flow-text right-align' style="margin-top: 0;">
                {{startDate}} - {{endDate}}<br>
                <a class="cz-red-text" href={{tickets}} target="_blank" style="margin-top: 0;">PURCHASE TICKETS</a>
            </p>
        </div> -->
    </div>
</div>

<div class='divider'></div>
<app-calendar></app-calendar>
<div class='divider'></div>
<app-bio></app-bio>
<app-latest></app-latest>
<app-acclaim></app-acclaim>
<app-gallery></app-gallery>
<!-- <app-footer></app-footer> -->
<!-- <div class="row center-align" style="background-color: #990000;
                                        height: 8vh;
                                        min-width:100vw;
                                        background-attachment: scroll; 
                                        background-position: 0% 0%;
                                        bottom: 0pt;
                                        left: 0pt;">
    <a class="white-text col s4" href="mailto:christianzarembaofficial@gmail.com?Subject=Website%20Correspondence"
      target="_top">EMAIL</a>
    <a class="white-text col s4" href="https://www.instagram.com/zarembabass/" target="_blank">INSTAGRAM </a>
    <a class="white-text col s4" href="mailto:ana@ada-artists.com?Subject=Christian%20Zaremba%20Inquiry"
      target="_top">MANAGEMENT</a>
  </div> -->