<div class="light-background full-height">

  <div class="row">
    <app-nav-bar class=" col s12 sticky"></app-nav-bar>
  </div>

  <div class="container med-top-margin">

    <div class="row valign-wrapper" style="text-align: center;">
      <div class="col s3">
        <p>DATE</p>
      </div>
      <div class="col s3">
        <p>LOCATION</p>
      </div>
      <div class="col s3">
        <p>EVENT</p>
      </div>
      <div class="col s3">
        <p>TICKETS</p>
      </div>
    </div>

    <div class="divider red"></div>

    <div *ngFor="let event of upcoming">
      <div class="row valign-wrapper hoverable" style="text-align: center;">
        <div class="col s3">
          <p>{{event.date}}</p>
        </div>
        <div class="col s3">
          <p>{{event.location}}, {{event.city}}</p>
        </div>
        <div class="col s3">
          <p>{{event.event}}</p>
        </div>
        <div class="col s3 black-text">
          <p><a class='black-text' href={{event.tickets}} target="_blank">PURCHASE TICKETS</a></p>
        </div>
      </div>
    </div>





  </div>
</div>

<app-footer style="position: fixed;
bottom: 0;
width: 100%;"></app-footer>