<div class="light-background">

    <div class="row">
      <app-nav-bar class=" col s12 sticky"></app-nav-bar>
    </div>

    <div class="container">

      <div class="row valign-wrapper" style="text-align: center;">
        <div class="col s3">
          <p>DATE</p>
        </div>
        <div class="col s3">
          <p>LOCATION</p>
        </div>
        <div class="col s3">
          <p>EVENT</p>
        </div>
        <div class="col s3">
          <p>TICKETS</p>
        </div>
      </div>

      <div class="divider"></div>

      <div class="row valign-wrapper hoverable" style="text-align: center;">
        <div class="col s3">
          <p>DATE</p>
        </div>
        <div class="col s3">
          <p>LOCATION</p>
        </div>
        <div class="col s3">
          <p>EVENT</p>
        </div>
        <div class="col s3">
          <p>TICKETS</p>
        </div>
      </div>




    </div>
  </div>
<!-- 
  <div class="col s3 grey darken-4 ">
      <a target="_blank" href="#" class="white-text btn-flat">BUY
        TICKETS</a>
    </div> -->