
<div class="container blue-grey-text text-darken-3">
  <p style='font-size: 1.7rem' class="flowtext center-align">ALL UPCOMING PERFORMANCES</p>
  <div class="row valign-wrapper center-align " style="margin-bottom:0;">
    <div class="col s4">
      <p>DATE</p>
    </div>
    <div class="col s4">
      <p>LOCATION</p>
    </div>
    <div class="col s4">
      <p>EVENT</p>
    </div>
  </div>

  <div class="divider cz-red-text"></div>

  <div *ngFor="let event of upcoming">
    <div class="row event center-align" >
      <div class="col s4 truncate">
        <p><a href={{event.tickets}} target="_blank">{{event.date}}</a></p>
      </div>
      <div class="col s4 truncate">
        <p><a href={{event.tickets}} target="_blank">{{event.location}}, {{event.city}}</a></p>
      </div>
      <div class="col s4 truncate">
        <p><a href={{event.tickets}} target="_blank">{{event.event}}</a></p>
      </div>
    </div>
  </div>

  <div class="divider red"></div>

</div>
<!-- previous performances -->
<div class="container blue-grey-text text-darken-3">

  <p style='font-size: 1.7rem' class="flowtext center-align">RECENT PERFORMANCES</p>
  <div class="row valign-wrapper center-align " style="margin-bottom:0;">
    <div class="col s4">
      <p>DATE</p>
    </div>
    <div class="col s4">
      <p>LOCATION</p>
    </div>
    <div class="col s4">
      <p>EVENT</p>
    </div>
  </div>

  <div class="divider cz-red-text"></div>

  <div *ngFor="let event of previous">
    <div class="row prevevent center-align" >
      <div class="col s4 truncate">
        <p>{{event.date}}</p>
      </div>
      <div class="col s4 truncate">
        <p>{{event.location}}, {{event.city}}</p>
      </div>
      <div class="col s4 truncate">
        <p>{{event.event}}</p>
      </div>
    </div>
  </div>
</div>

